/* Design System */
:root {
   /* Colors */
   --blue: #0065FC;
   --light-blue: #DEEBFF;
   --grey: #D9D9D9;
   --light-grey: #F2F2F2;
   --black: #000000;
   --white: #FFFFFF;

   /* Text configuration */
   --special-font-weight: 700;
   --special-font-family: 'Raleway', sans-serif;

   --body-font-size: 16px;
   --title-font-size: 22px;
   --special-title-font-size: 18px;
}


* {
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-size: 16px;
}

body {
   max-width: 1400px;
   margin: auto;
}
a {
   text-decoration: none;
   color: black;
}
/*header*/
nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 0px;
}
nav img {
   width: 61.09px;
   height: 19px;
   margin: 44px 0px 0px 20px
}
#menu {
   width: 325px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: center;
}
.stays {
   width: 50%;
   border-top: 3px solid var(--white);
   border-bottom: none;
   padding-top: 44px;
   padding-bottom: 0px;
}
.stays:hover {
   border-bottom: none;
   border-top: 3px solid var(--blue);
}
.activities {
   width: 50%;
   border-top: 3px solid var(--white);
   border-bottom: none;
   padding-top: 44px;
   padding-bottom: 0px;
}
.activities:hover {
   border-bottom: none;
   border-top: 3px solid var(--blue);
}
nav a:hover {
   color: var(--blue);
}
/*main*/
/*find*/
#find {
   display: flex;
   flex-direction: column;
   margin: 31px 20px 0px 21px;
}
#find h1 {   
   margin: 0;
   font-size: 22px;
}
#find p {
   margin: 13px 0px 36px 0px;
}
#search-bar {
   width: 406px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: center;
   position: relative;
   background: var(--white);
   border: 1px solid var(--light-grey);
   border-radius: 15px;
}
#loc {
   position: relative;
   padding: 16px 15px 16px 18px;
   color:var(--black);
   background-color: var(--light-grey);
   border: 1px solid var(--light-grey);
   border-radius: 15px 0px 0px 15px;
}
#marseille {
   position: absolute;
   margin: 14px 0px 14px 66px;
   width: 163px;
   height: 21px;
   font-size: 18px;
   font-weight: 700;
   border: none; 
}
#magn-glass {
   display: none;
   position: relative;
   padding: 15px 16px 15px 16px;
   width: 50px;
   font-size: 17px;
   color:var(--white);
   background-color: var(--blue);
   border: 1px solid var(--blue);
   border-radius: 0px 15px 15px 0px;  
}
#search {
   display: block;
   position: absolute;
   width: 132px;
   margin-left: 303px;
   padding: 14px 16px 14px 16px;
   font-size: 18px;
   font-weight: 700;
   color:var(--white);
   background-color: var(--blue);
   border: 1px solid var(--blue);
   border-radius: 0px 15px 15px 0px;
   text-align: center; 
}
/*filters*/
#filter {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 34px 20px 0px 20px;
}
#filter h2 {
   font-size: 18px;
   margin: 7px 13px 7px 0px;
}
.icon {
   font-size: 15px;
   color: var(--blue);
}
.btn {
   font-weight: 700;
   background: var(--white);
   border: 2px solid var(--grey);
   border-radius: 25px;
   margin: 7px 0px 7px 0px;
   padding: 13px;
}
.btn:hover {
   box-shadow: 0px 3px 10px 1px var(--blue);
}
/*info*/
#info {
   display: flex;
   align-items: center;
   margin: 25px 20px 25px 20px;
}
#circle-info {
   height: 50%;
   padding: 6px 10px 6px 10px;
   font-size: 12px;
   background: var(--white);
   border: 2px solid var(--grey);
   border-radius: 100%;   
}
#info p {
   margin-left: 10px;    
}
/*cards*/
#staysandpopular {
   display: flex;
   flex-direction: row;
}
/*stays in marseile*/
#stays {
   width: 67%;
   display: flex;
   flex-direction: column;
   background-color: var(--light-grey);
   border-radius: 20px;
   margin: 0px 20px 0px 20px 
}
.head {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 0px 21px 0px 20px;
}
.head h2 {
   font-size: 22px;
   font-weight: 700;
}
.choices {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0px 21px 0px 20px;
}
#stays a {
   width: 32%;
}
.elements-card {
   display: flex;
   flex-direction: column;
   background-color: var(--white);
   border-radius: 20px;
   box-shadow: 3px 3px 10px 3px var(--light-grey);
   margin-bottom: 12px;
}
.card-image img {
   width: 100%;
   height: 114px;
   object-fit: cover;
   border: 5px solid var(--white);
   border-radius: 20px 20px 0px 0px;
}
.card-body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.card-body h3 {
   margin: 0px 13px 0px 16px;
   font-size: 16px;
   font-weight: 700;
}
#stays .card-body h3 {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.card-body p {
   margin: 9px 13px 9px 16px;
   font-weight: 400;
   font-size: 14px;
}
.card-stars {
   margin: 0px 13px 11px 16px;
}
.blue-stars {
   width: auto;
   font-size: 15px;
   color: var(--blue);
}
.grey-stars {
   width: auto;
   font-size: 15px;
   color: var(--light-grey);
}
.more {
   display: block;
}
.more p {
   margin: 20px 21px 20px 20px;
   font-weight: 700;
   font-size: 18px;
}
/*most popular*/
#popular {
   width: 33%;
   display: flex;
   flex-direction: column;
   background-color: var(--light-grey);
   border-radius: 20px;
   margin: 0px 20px 0px 20px; 
}
#popular .choices {
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   margin-bottom: 20px;
}
#popular .elements-card {
   flex-direction: row;
   height: 144px;
}
#popular .card-image img {
   width: 127px;
   height: 144px;
   object-fit: cover;
   border: 5px solid var(--white);
   border-radius: 20px 0px 0px 20px;
}
#popular .card-body h3 {
   margin-top: 14px;
}
#popular .card-body p {
   font-weight: 400;
   font-size: 13px;
}
/*most popular*/
#activities {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 50px;
}
#activities a {
   width: 24%;
}
#activities .elements-card {
   width: 100%;
   height: 445px;
   margin-bottom: 24px;
}
#activities .head h2 {
   font-weight: 700;
   font-size: 22px;
   margin-bottom: 34px;
   }
#activities .choices {
   margin-bottom: 50px;
}
#activities .card-image img {
   width: 100%;
   height: 389px;
   object-fit: cover;
   border: none;
   border-radius: 20px 20px 0px 0px;
}
#activities .card-body {
   height: 50px; 
   justify-content: center;
}
/*footer*/
footer {
   background-color: var(--light-grey);
   display: flex;
   margin: 30px 20px 0px 20px 
}
#footer-items {
   width: 942px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 45px 21px 58px 70px;
}
.footer-items h3 {
   font-weight: 700;
   font-size: 18px;
}
.footer-items ul {
   list-style-type: none;
   padding: 0;
}
.footer-items li {
   margin: 0;
   padding-bottom: 12px;
   font-weight: 400;
   font-size: 16px   
}
@media only screen and (max-width : 992px)
{
   /*stays in marseile*/
   #staysandpopular {
      flex-direction: column;
   }
   #stays {
      width: auto;
   }
   /*most popular*/
   #popular {
      width: auto;
      margin: 20px;
   }
   #popular .choices {
      flex-direction: row;
      margin-bottom: 20px;
   }
   #popular .card-image img {
      width: 80px;      
   }
   #popular .card-body {
      width: 146px;
   }   
   /*activities*/
   #activities .elements-card {
      height: 267px;
   }
   #activities .card-image img {
      height: 211px;
   }
   #footer-items {
      width: 646px;
   } 
}
@media only screen and (max-width : 767px)
{
   /*header*/
   nav {
      flex-direction: column;
   }
   nav img {   
      margin-top: 21px;
   }
   #menu {
      width: 100%;      
   }
   .stays {
      padding-bottom: 20px;
      border-bottom: 3px solid var(--light-grey);
   }
   .stays:hover {
      border-bottom: 3px solid var(--blue);
      border-top: none;
   }
   .activities {
      padding-bottom: 20px;
      border-bottom: 3px solid var(--light-grey);
   }
   .activities:hover {
      border-bottom: 3px solid var(--blue);
      border-top: none;
   }
   /*main*/
   /*find*/
   #search-bar {
      width: 100%;
   }
   #magn-glass {
      display: block;
   }
   #search {
      display: none;
   }   
   #filter {
      
      flex-direction: column;
      align-items: baseline;
   }
   /*infos*/
   #info p {
      margin: 20px 0px 0px 10px;
   }
   /*cards*/
   #staysandpopular {
      flex-direction: column-reverse;
   }
   /*stays in marseille*/
   #stays {
      background-color: var(--white);
      border-radius: 0px;
      margin: 0;
   }
   #stays .choices{
      flex-direction: column;
   }
   #stays a {
      width: 100%;
   }
   #stays .card-image img {
      width: 100%;
   }
   .more {
      display: none;
   }
   /*most popular*/
   #popular {
      border-radius: 0px;
      margin: 0; 
   }
   #popular .choices {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }
   #popular .elements-card {
      flex-direction: row;
      height: 144px;
   }
   #popular .card-image img {
      width: 127px;
      height: 144px;
      object-fit: cover;
      border: 5px solid var(--white);
      border-radius: 20px 0px 0px 20px;
   }
   #popular .card-body h3 {
      margin-top: 14px;
   }
   #popular .card-body p {
      font-weight: 400;
      font-size: 13px;
   }   
   /*activities*/
   #activities .choices {
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 0px;
   }
   #activities a {
      width: 100%;
   }
   #activities .head h2 {
      width: 200px;
      height: 60px;
      margin: 0;
   }
   #activities .elements-card {
      height: 190px;
      margin-bottom: 24px;
   }
   #activities .card-image img {
      height: 134px;
   }
   /*footer*/
   footer {      
      margin: 0px
   }
   #footer-items {
      width: 100%;
      flex-direction: column;
      margin-left: 30px;
   } 
}
