.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--margin-border);
    height: 79px;
}
.appBar__logo {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
}
.appBar a:hover {
    color: var(--blue);
}
.appBar__menu {
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
 }
.appBar__menu__stays {
    width: 50%;
    border-top: 3px solid var(--white);
    border-bottom: none;
    padding-top: 25px;
    padding-bottom: 0px;
}
.appBar__menu__stays:hover {
    border-bottom: none;
    border-top: 3px solid var(--blue);
}
.appBar__menu__activities {
    width: 50%;
    border-top: 3px solid var(--white);
    border-bottom: none;
    padding-top: 25px;
    padding-bottom: 0px;
}
.appBar__menu__activities:hover {
    border-bottom: none;
    border-top: 3px solid var(--blue);
}