/*cards*/
.staysandpopular {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: var(--margin-border);
}
/*stays in marseile*/
.stays {
   width: 66%;
   display: flex;
   flex-direction: column;
   background-color: var(--light-grey);
   border-radius: 20px;
}
.head {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: var(--margin-card);
}
.head h2 {
   font-size: var(--big-font-size);
   font-weight: var(--special-font-weight);
}
.choices {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0px 30px 0px 30px;
}
.stays a {
   width: 32%;
}
.elements-card {
   display: flex;
   flex-direction: column;
   background-color: var(--white);
   border-radius: 20px;
   box-shadow: 3px 3px 10px 3px var(--light-grey);
   margin-bottom: 15px;
}
.card-image img {
   width: 100%;
   height: 114px;
   object-fit: cover;
   border: 5px solid var(--white);
   border-radius: 20px 20px 0px 0px;
}
.card-body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.card-body h3 {
   margin-left: 15px;
   font-size: var(--normal-font-size);
   font-weight: var(--special-font-weight);
}
.stays .card-body h3 {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.card-body p {
   margin-left: 15px;
   margin-top: 5px;
   font-weight: 400;
   font-size: 14px;
}
.card-stars {
   margin: 0px 13px 11px 16px;
}
.blue-stars {
   width: auto;
   font-size: var(--small-font-size);
   color: var(--blue);
}
.grey-stars {
   width: auto;
   font-size: var(--small-font-size);
   color: var(--light-grey);
}
.more {
   display: block;
   margin: var(--margin-card);
}
.more p {
   font-weight: var(--special-font-weight);
   font-size: var(--middle-font-size);
}
/*most popular*/
.popular {
   width: 33%;
   display: flex;
   flex-direction: column;
   background-color: var(--light-grey);
   border-radius: 20px;
}
.popular .choices {
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   margin-bottom: 20px;
}
.popular .elements-card {
   flex-direction: row;
   height: 144px;
}
.popular .card-image img {
   width: 127px;
   height: 144px;
   object-fit: cover;
   border: 5px solid var(--white);
   border-radius: 20px 0px 0px 20px;
}
.popular .card-body h3 {
   margin-top: 14px;
}
.popular .card-body p {
   font-weight: 400;
   font-size: var(--small-font-size);
}
/*activities*/
.activities {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: var(--margin-border);
}
.activities a {
   width: 24%;
}
.activities .elements-card {
   width: 100%;
   height: 445px;
   margin-bottom: 24px;
}
.activities .head h2 {
   font-weight: var(--special-font-weight);
   font-size: var(--big-font-size);
   }
.activities .card-image img {
   width: 100%;
   height: 389px;
   object-fit: cover;
   border: none;
   border-radius: 20px 20px 0px 0px;
}
.activities .card-body {
   height: 50px; 
   justify-content: center;
}
@media only screen and (max-width : 1024px)
{
   /*stays in marseile*/
   .staysandpopular {
      flex-direction: column;
   }
   .stays {
      width: auto;
   }
   /*most popular*/
   .popular {
      width: auto;
      margin-top: 50px;
   }
   .popular .choices {
      flex-direction: row;
   }
   .popular a {
      width: 32%;
   }
   .popular .card-image img {
      width: 91.66px;      
   }
   .popular .card-body {
      width: 183.33px;
   }   
   /*activities*/
   .activities .elements-card {
      height: 267px;
   }
   .activities .card-image img {
      height: 211px;
   }
}
@media only screen and (max-width : 767px)
{
   /*cards*/
   .staysandpopular {
      flex-direction: column-reverse;
      margin: 0;
   }
   /*stays in marseille*/
   .stays {
      background-color: var(--white);
      border-radius: 0px;
      margin: 0;
   }
   .stays .choices{
      flex-direction: column;
   }
   .stays a {
      width: 100%;
   }
   .stays .card-image img {
      width: 100%;
   }
   .more {
      margin-top: 0;
   }
   /*most popular*/
   .popular {
      border-radius: 0px;
      margin: 0;
   }
   .popular .choices {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin: var(--margin-border-mobile);
   }
   .popular a {
      width: 100%;
   }
   .popular .elements-card {
      flex-direction: row;
      height: 144px;
   }
   .popular .card-image img {
      width: 111.66px;
      height: 144px;
      object-fit: cover;
      border: 5px solid var(--white);
      border-radius: 20px 0px 0px 20px;
   }
   .popular .card-body {
      width: 223.33px;
   }
   .popular .card-body h3 {
      margin-top: 14px;
      width: 203.33px;
   }
   .popular .card-body p {
      font-weight: 400;
      font-size: var(--small-font-size);
   }   
   /*activities*/
   .activities {
      margin: 0;
   }
   .activities .choices {
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 0px;
   }
   .activities a {
      width: 100%;
   }
   .activities .head h2 {
      margin: 0;
   }
   .activities .elements-card {
      height: 190px;
      margin-bottom: 24px;
   }
   .activities .card-image img {
      height: 134px;
   }
}