.filter {
display: flex;
flex-direction: row;
align-items: center;
margin: var(--margin-border);
}
.filter__title {
font-size: var(--middle-font-size);
margin-right: 15px;
}
.icon {
font-size: 15px;
color: var(--blue);
}

.filter__btn--style {
font-weight: var(--special-font-weight);
background: var(--white);
border: 2px solid var(--grey);
border-radius: 25px;
padding: 10px;
height: 50px;
}
.filter__btn--style:hover {
box-shadow: 0px 3px 10px 1px var(--blue);
}
@media only screen and (max-width : 767px)
{
   .filter {
      flex-direction: column;
      align-items: baseline;
      margin: var(--margin-border-mobile);
   }
   .filter__btn {
      height: 140px;
   }
   .filter__btn--style {
      margin-top: 20px;
      width: 162px;
   }
}