.find {
    display: flex;
    flex-direction: column;
    margin: var(--margin-standard);
    margin-top: 31px;
}
.find__title {   
    margin: 0;
    font-size: var(--big-font-size);
}
.find__text {
    margin: 13px 0px 36px 0px;
}
.find__search-bar {
    width: 406px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
    background: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 15px;
}
.find__search-bar__loc {
    position: relative;
    padding: 16px 15px 16px 18px;
    color:var(--black);
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 15px 0px 0px 15px;
}
.find__search-bar__marseille {
    position: absolute;
    margin: 14px 0px 14px 66px;
    width: 166px;
    height: 21px;
    font-size: var(--middle-font-size);
    font-weight: var(--special-font-weight);
    border: none; 
}
.find__search-bar__magn-glass {
    display: none;
    position: relative;
    padding: 15px 16px 15px 16px;
    width: 50px;
    color:var(--white);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0px 15px 15px 0px;  
}
.find__search-bar__search {
    display: block;
    position: absolute;
    width: 132px;
    margin-left: 303px;
    padding: 14px 16px 14px 16px;
    font-size: var(--middle-font-size);
    font-weight: var(--special-font-weight);
    color:var(--white);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0px 15px 15px 0px;
    text-align: center; 
}