.footer {
    background-color: var(--light-grey);
    display: flex;
    margin: var(--margin-border);
}
.footer__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.footer__body__items {
    width: 33.33%;
}
.footer__body__items__title {
    font-weight: var(--special-font-weight);
    font-size: var(--middle-font-size);
}
.footer__body__items__list {
    list-style-type: none;
}
.footer__body__items__list__select {
    padding-top: 12px;
    font-weight: 400;
    font-size: var(--normal-font-size); 
}