@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Modules */
@import 'modules/appBar.css';
@import 'modules/cards.css';
@import 'modules/filters.css';
@import 'modules/find.css';
@import 'modules/footer.css';
@import 'modules/info.css';

/* Design System */
:root {
   /* Colors */
   --blue: #0065FC;
   --light-blue: #DEEBFF;
   --grey: #D9D9D9;
   --light-grey: #F2F2F2;
   --black: #000000;
   --white: #FFFFFF;

   /* Text configuration */
   --special-font-weight: 700;
   --special-font-family: 'Raleway', sans-serif;
   
   --big-font-size: 22px;
   --middle-font-size: 18px;
   --normal-font-size: 16px;
   --small-font-size: 13px;

   /* spacing */
   --margin-border: 0px 50px 35px 50px;
   --margin-border-mobile: 0px 20px 35px 20px;
   --margin-right-left: 0px 20px 0px 20px;
   --margin-card: 30px;
   --margin-up-down: 30px 0px 30px 0px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--special-font-family);
   font-style: normal;
   font-size: var(--normal-font-size);
}

body {
   max-width: 1400px;
   margin: auto;
}

a {
   text-decoration: none;
   color: black;
}