@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Modules */
@import 'modules/cards.css';
@import 'modules/filters.css';
@import 'modules/find.css';
@import 'modules/footer.css';
@import 'modules/header.css';
@import 'modules/info.css';

/* Design System */
:root {
   /* Colors */
   --blue: #0065FC;
   --light-blue: #DEEBFF;
   --grey: #D9D9D9;
   --light-grey: #F2F2F2;
   --black: #000000;
   --white: #FFFFFF;

   /* Text configuration */
   --special-font-weight: 700;
   --special-font-family: 'Raleway', sans-serif;
   
   --big-font-size: 22px;
   --middle-font-size: 18px;
   --normal-font-size: 16px;
   --small-font-size: 13px;
}

* {
   box-sizing: border-box;
   font-family: var(--special-font-family);
   font-style: normal;
   font-size: var(--normal-font-size);
}

body {
   max-width: 1400px;
   margin: auto;
}
a {
   text-decoration: none;
   color: black;
}

@media only screen and (max-width : 992px)
{
   /*stays in marseile*/
   #staysandpopular {
      flex-direction: column;
   }
   #stays {
      width: auto;
   }
   /*most popular*/
   #popular {
      width: auto;
      margin: 20px;
   }
   #popular .choices {
      flex-direction: row;
      margin-bottom: 20px;
   }
   #popular .card-image img {
      width: 80px;      
   }
   #popular .card-body {
      width: 146px;
   }   
   /*activities*/
   #activities .elements-card {
      height: 267px;
   }
   #activities .card-image img {
      height: 211px;
   }
   #footer-items {
      width: 646px;
   } 
}
@media only screen and (max-width : 767px)
{
   /*header*/
   nav {
      flex-direction: column;
   }
   nav img {   
      margin-top: 21px;
   }
   #menu {
      width: 100%;      
   }
   .stays {
      padding-bottom: 20px;
      border-bottom: 3px solid var(--light-grey);
   }
   .stays:hover {
      border-bottom: 3px solid var(--blue);
      border-top: none;
   }
   .activities {
      padding-bottom: 20px;
      border-bottom: 3px solid var(--light-grey);
   }
   .activities:hover {
      border-bottom: 3px solid var(--blue);
      border-top: none;
   }
   /*main*/
   /*find*/
   #search-bar {
      width: 100%;
   }
   #magn-glass {
      display: block;
   }
   #search {
      display: none;
   }   
   #filter {
      
      flex-direction: column;
      align-items: baseline;
   }
   /*infos*/
   #info p {
      margin: 20px 0px 0px 10px;
   }
   /*cards*/
   #staysandpopular {
      flex-direction: column-reverse;
   }
   /*stays in marseille*/
   #stays {
      background-color: var(--white);
      border-radius: 0px;
      margin: 0;
   }
   #stays .choices{
      flex-direction: column;
   }
   #stays a {
      width: 100%;
   }
   #stays .card-image img {
      width: 100%;
   }
   .more {
      display: none;
   }
   /*most popular*/
   #popular {
      border-radius: 0px;
      margin: 0; 
   }
   #popular .choices {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }
   #popular .elements-card {
      flex-direction: row;
      height: 144px;
   }
   #popular .card-image img {
      width: 127px;
      height: 144px;
      object-fit: cover;
      border: 5px solid var(--white);
      border-radius: 20px 0px 0px 20px;
   }
   #popular .card-body h3 {
      margin-top: 14px;
   }
   #popular .card-body p {
      font-weight: 400;
      font-size: var(--small-font-size);
   }   
   /*activities*/
   #activities .choices {
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 0px;
   }
   #activities a {
      width: 100%;
   }
   #activities .head h2 {
      width: 200px;
      height: 60px;
      margin: 0;
   }
   #activities .elements-card {
      height: 190px;
      margin-bottom: 24px;
   }
   #activities .card-image img {
      height: 134px;
   }
   /*footer*/
   footer {      
      margin: 0px;
   }
   #footer-items {
      width: 100%;
      flex-direction: column;
      margin-left: 30px;
   } 
}
